<div class="invoice-card">
  <h3 class="invoice-card__id"
      data-lfr-editable-id="invoiceId"
      data-lfr-editable-type="text">
      #00000
  </h3>

  <p class="invoice-card__value"
     data-lfr-editable-id="invoiceValue"
     data-lfr-editable-type="text">
     0.00 €
  </p>

  <p class="invoice-card__user"
     data-lfr-editable-id="userId"
     data-lfr-editable-type="text">
     user@example.com
  </p>

  <p class="invoice-card__type"
     data-lfr-editable-id="type"
     data-lfr-editable-type="text">
     type
  </p>
</div>
